@import url("../fonts/MangoGrotesque/MangoGrotesque-Bold.css");

@font-face {
  font-family: "MangoGrotesque";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/MangoGrotesque/MangoGrotesque-Bold.ttf") format("truetype");
  src: url("../fonts/MangoGrotesque/MangoGrotesque-Bold.otf") format("otf");
  src: url("../fonts/MangoGrotesque/MangoGrotesque-Bold.woff") format("woff");
  src: url("../fonts/MangoGrotesque/MangoGrotesque-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/NeueMontrea/NeueMontreal-Regular.ttf") format("truetype");
  src: url("../fonts/NeueMontrea/NeueMontreal-Regular.eot") format("eot");
  src: url("../fonts/NeueMontrea/NeueMontreal-Regular.woff") format("woff");
  src: url("../fonts/NeueMontrea/NeueMontreal-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/NeueMontrea/NeueMontreal-Medium.ttf") format("truetype");
  src: url("../fonts/NeueMontrea/NeueMontreal-Medium.eot") format("eot");
  src: url("../fonts/NeueMontrea/NeueMontreal-Medium.woff") format("woff");
  src: url("../fonts/NeueMontrea/NeueMontreal-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/NeueMontrea/NeueMontreal-Bold.ttf") format("truetype");
  src: url("../fonts/NeueMontrea/NeueMontreal-Bold.eot") format("eot");
  src: url("../fonts/NeueMontrea/NeueMontreal-Bold.woff") format("woff");
  src: url("../fonts/NeueMontrea/NeueMontreal-Bold.woff2") format("woff2");
}