.footer .container {
  padding-top: 58px;
  /* padding-bottom: 42px; */
  height: 100vh;

  background-color: var(--deep-sea);
}

.subsect1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 58px;
  margin-bottom: 58px;

  border-bottom: 1px solid var(--off-white);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 12px;


}

.insta_link,
.face_link,
.linked_link,
.git_link,
.telegram_link, .tel_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--off-white);
}

.footer_img {
  height: 300px;
}

.subsect2 {
}

.footer_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 350px;
  line-height: 100%;
  text-align: center;
  color: var(--off-white);
}

.subsect3 {
  display: flex;
  justify-content: space-between;
}

.footer_name,
.copiright,
.back_to_top {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--off-white);
}

.copiright {
}

.back_to_top {
}
