.header .container {
  padding-top: 28px;

  position: relative;
  z-index: 50;
}

.nav {
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.nav_item {
  padding: 0;
}

.nav_item:nth-child(3) {
  margin-left: 150px;
}

.nav_item_link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  color: var(--deep-sea);
  
}
