.hero .container {
  margin-top: -92px;
  height: 100vh;

  position: relative;
}

.hero_title,
.hero_discr,
.hero_text1,
.hero_text2,
.hero_text3,
.hero_arrow,
.hero_img {
  position: absolute;
}

.hero_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: var(--deep-sea);

  width: 350px;
  text-align: end;

  top: 258px;
  right: 20px;
}

.hero_discr {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  color: var(--deep-sea);

  border-bottom: 20px solid var(--deep-sea);

  text-align: end;

  top: 450px;
  right: 20px;
}

.hero_text1,
.hero_text2,
.hero_text3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 350px;
  letter-spacing: -5px;
  line-height: 100%;
  color: var(--deep-sea);


}

.hero_text1 {
  top: 180px;
  left: 100px;
  z-index: 1;
}

.hero_text2 {
  left: 20px;
  top: 470px;
  z-index: 3;
}

.hero_text3 {
  top: 580px;
  right:20px;
  z-index: 3;
}

.hero_arrow {
  top: 770px;
  left: 20px;
}

.hero_img {
  top: 0;
  left: 44px;
  z-index: 2;
}
